*{ list-style: none;text-decoration: none;margin: 0%;padding: 0%;}
a:hover{
   color: rgb(238, 46, 46);
}
.navigation
{
   display: -webkit-flex;
   display: flex;
   background: rgb(249, 249, 249);
   margin-bottom: 10px;
   margin-left: 70px;
   margin-right: 70px;
}
.navigation_left{
   display: -webkit-flex;
   flex-direction: row;
   display: flex;
   width:50%;
   text-decoration: none;
   font-size: 18px;
   color: black
   
}
.navigation_right{
   display: -webkit-flex;
   display: flex;
   flex-direction:row-reverse;
   width:50%;
   text-decoration: none;
   font-size: 18px;
   color: black
}
.header{
   margin-left: 70px;
   margin-right: 70px;
   margin-bottom: 10px;
   margin-top: auto;
   display: -webkit-flex;
   display: flex;
   height: 41px;
   padding: 18px 0 15px 0;
   background:rgb(255, 255, 255)   
   
   
}
.header_sub1
{
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   width:70%;
   margin: auto;
}
.header_sub2{
   display: -webkit-flex;
   display: flex; 
   flex-direction: row-reverse;
   width:30%;
   margin: auto;
}
.header_sub_sub{
   margin: auto;
   font-size: 18px;
}
input[type="text"]{
   border-radius: 25px;
   width:250px;
   height:20px;
   outline: none;
   background: rgb(240, 240, 240);
}
.side_navigation_and_bannar{
   display: -webkit-flex;
   display: flex; 
   width: 1200px;
   height: 550px;
   flex-direction: row-reverse;
   margin-left: 70px;
   margin-right: 70px;           
}
.side_bar{
   display: -webkit-flex;
   display: flex; 
   width: 200px;
   height: 550px;
   -webkit-flex-direction: column;
   flex-direction: column;
   background: rgb(181, 209, 204);
   justify-content:space-around
   
}
 .side_bar_item
{
   margin: auto;
   height: 91px;
   width: 200px;
   background: rgb(181, 209, 204);
   position: relative;
  
} 
.side_bar_item a{
   text-decoration:none;
   display: block;
   color: black;
   margin: 35px;
}
.banner{
   display: -webkit-flex;
   display: flex; 
   width: 1000px;
   height: 550px;
   overflow: hidden;
   position: relative;
   flex-direction: row;
   
   
}
.iconlist{
   display: -webkit-flex;
   display: flex; 
   position: absolute;
   top: 620px;
   right: 100px;
}
.iconlist li{
   border: 2px solid black;
   cursor: pointer;
   border-radius: 10px;
   text-align: center;
   line-height: 10px;
   margin-left: 5px;
   width: 10px;
   height: 10px;
   background: white;
}
.subbar5{
   display: none;
   height: 556px;
   width: 256px;
   background: rgb(181, 209, 204);
   position: absolute;
   top: -465px;
   left: 200px;
}
.subbar4{
   display: none;
   height: 556px;
   width: 256px;
   background: rgb(181, 209, 204);
   position: absolute;
   top:-186px;
   left: 200px;
}
.subbar{
    display: none;
    height: 556px;
    width: 500px;
    background: rgb(181, 209, 204);
    position: absolute;
    top:0px;
    left: 200px;
}
.sidebar:hover{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}

.subbar1{
    display: none;
    height: 556px;
    width: 256px;
    background: rgb(181, 209, 204);
    position: absolute;
    top: -93px;
    left: 200px;
}
.subbar1 div:hover{background: white;} 

.subbar2{
    display: none;
    height: 556px;
    width: 800px;
    background: rgb(181, 209, 204);
    position: absolute;
    top: -279px;
    left: 200px;
}
.subbar2 div:hover{background: white;} 
.subbar3{
    display: none;
    height: 556px;
    width: 1000px;
    background: rgb(181, 209, 204);
     position: absolute; 
    top: -372px;
    left: 200px;
}
.model{
   display: -webkit-flex;
   display: flex; 
    width: 230px;
    height: 80px;
    background: rgb(181, 209, 204);
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    position: relative;
    overflow: hidden;
    }
    .model:hover{
       background: white;
    }
    #divid{
       margin: auto;
      }

      .grid_1{
         margin-left: 70px;
         margin-right: 70px;
         margin-top: 50px;
         display: grid;
         grid-template-columns: 230px 230px 230px 230px ;
         grid-template-rows: 35px 290px 290px ;
         background: chocolate;
         gap: 20px 20px;
         grid-template-areas: 'A B B B'
                            'C D E F'
                           'G H I J';
      }
      .grid_1_child1{
         grid-column: 1/2;
         grid-row: 1/2;
         background: blue;
       }
      .grid_1_child2
      {
         grid-area: B;
         background: rgb(170, 130, 130);

      }


.grid{
   margin-left: 70px;
   margin-right: 70px;
   margin-top: 50px;
   display: grid;
   grid-template-columns: 230px 230px 230px 230px 230px;
   grid-template-rows: 40px 290px 290px ;
   background: white;
   gap: 10px 15px;
}      

.grid_child1{
  grid-column: 1/2;
  grid-row: 1/2;
  background: white;
  padding-left: 10px;
  font-size: 28px;
}
.grid_child2
{
   grid-row: 1/2;
   grid-column: 2/6;
   background: white;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 9fr 1fr ;
   grid-template-rows: 1fr;
   font-size:small;
   padding-top: 17px;
}
.grid_child2 a{
   color: rgb(148, 158, 170);
}
.grid_child2 a:hover{
   color: rgb(238, 46, 46);
}


.grid_child3
{
   grid-column: 1/2;
   grid-row: 2/4;
   background: white;
   margin-left: 10px;
   /* margin-top: 20px; */
   border-radius: 10px;
}
.grid_child3:hover{
   -webkit-box-shadow:0 0 30px #c8c8c8  ;
   -moz-box-shadow:0 0 30px #c8c8c8  ;
   box-shadow: 0 0 30px #c8c8c8 ;
   background: rgb(250, 250, 250);
}
#rexiaosub{
   width: 230px;
   height:250px;
   background: rgb(249, 249, 249);
   text-align: center;
   padding-top: 40px;
   /* margin: 10px; */
   border-radius: 10px;

}
#rexiaosub:hover{
   -webkit-box-shadow:0 0 30px #c8c8c8  ;
   -moz-box-shadow:0 0 30px #c8c8c8  ;
   box-shadow: 0 0 30px #c8c8c8 ;
   background: rgb(250, 250, 250);
}

.decoration{
   margin-left: 70px;
   margin-right: 70px;
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(4,300px);
   grid-template-rows: 200px;
   gap: 0 15px;
}
.decoration img:hover
{
   -webkit-box-shadow:0 0 30px #c8c8c8  ;
   -moz-box-shadow:0 0 30px #c8c8c8  ;
   box-shadow: 0 0 30px #c8c8c8 ;
}